<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149433198186-uc64bsuvgork4ubc5n1fk6sm26sme5tq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149433198186-uc64bsuvgork4ubc5n1fk6sm26sme5tq</string>
	<key>API_KEY</key>
	<string>AIzaSyADN_oaoQcIF_4KHdQTahFaPRAUFiNWYT8</string>
	<key>GCM_SENDER_ID</key>
	<string>149433198186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pennlabs.PennClubsMobile</string>
	<key>PROJECT_ID</key>
	<string>pennmobile-a71e3</string>
	<key>STORAGE_BUCKET</key>
	<string>pennmobile-a71e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149433198186:ios:7b4640d49c3578e76f0c13</string>
	<key>DATABASE_URL</key>
	<string>https://pennmobile-a71e3.firebaseio.com</string>
</dict>
</plist>